{% extends '@nucleus/partials/particle.html.twig' %}

{% set attr_extra = '' %}
{% if particle.extra %}
    {% for attributes in particle.extra %}
        {% for key, value in attributes %}
            {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}


{% block particle %}
{% do gantry.theme.joomla(true) %}

<div class="g-llamado-accion {% if particle.css.class %}{{ particle.css.class }}{% endif %} {{ particle.style }}" {%- if particle.extra -%}{{ attr_extra|raw }}{%- endif -%}>

    <div class="g-llamado-contenido {% if particle.description == false %} no-desc{% endif %}">
        {% if particle.title %}<{{ particle.etiquetatitulo }} class="g-llamado-titulo" {% if particle.colortexto %} style="color:{{ particle.colortexto|e }}"{% endif %}>{{ particle.title|raw }}</{{ particle.etiquetatitulo }}>{% endif %}
        
        {% if particle.description %}
            <div class="g-llamado-desc"
            {%- if particle.colordescription or particle.tamanodescripcion -%} style="
            {%- if particle.colordescription -%}color:{{ particle.colordescription|e }};{%- endif -%}
            {%- if particle.tamanodescripcion -%}font-size:{{ particle.tamanodescripcion|e }};{%- endif -%}                         	
        	">{%- endif -%}
        	{{ particle.description|raw }}
        	</div>
        {% endif %}
    </div>


    <div class="g-llamado-boton">
        {% if particle.link %}
            <a class="btn {% if particle.estiloboton %}{{ particle.estiloboton }}{% endif %} {%if particle.tamanoboton %}{{ particle.tamanoboton }}{% endif %}" target="{{ particle.target|default('_parent')|e }}" href="{{ particle.link|e }}">                                
            {% if particle.buttonicon %}{% if particle.ubicacionicono=='ico_ant' %}<i class="{{ particle.buttonicon|e }} ico_ant"></i>{% endif %}{% endif %}
            {{ particle.buttontext|e }}
            {% if particle.buttonicon %}{% if particle.ubicacionicono=='ico_desp' %}<i class="{{ particle.buttonicon|e }} ico_desp"></i>{% endif %}{% endif %}
            </a>                               

        {% endif %}
    </div>
            
</div>

{% endblock %}